write:
  replicas: 3
  persistence:
    enabled: true
    storageClass: "longhorn"
    size: 30Gi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values: [write]
          topologyKey: "kubernetes.io/hostname"

read:
  replicas: 3
  persistence:
    enabled: true
    storageClass: "longhorn"
    size: 30Gi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values: [read]
          topologyKey: "kubernetes.io/hostname"

backend:
  replicas: 3
  persistence:
    enabled: true
    storageClass: "longhorn"
    size: 30Gi
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values: [backend]
          topologyKey: "kubernetes.io/hostname"
