replicaCount: 3

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values: [victoria-metrics-agent]
        topologyKey: "kubernetes.io/hostname"

extraArgs:
  promscrape.suppressScrapeErrors: "true"

remoteWrite:
  - url: http://victoria-metrics-victoria-metrics-cluster-vminsert.monitoring.svc.cluster.local:8480/insert/0/prometheus


